<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="legolas">

    <title>OpenCV4Orz</title>
    <style type="text/css">
        /*
        * Base structure
        */

        /* Move down content because we have a fixed navbar that is 50px tall */
        body {
        padding-top: 50px;
        }


        /*
        * Global add-ons
        */

        .sub-header {
        padding-bottom: 10px;
        border-bottom: 1px solid #eee;
        }

        /*
        * Top navigation
        * Hide default border to remove 1px line.
        */
        .navbar-fixed-top {
        border: 0;
        }

        /*
        * Sidebar
        */

        /* Hide for mobile, show later */
        .sidebar {
        display: none;
        }
        @media (min-width: 768px) {
        .sidebar {
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
        }
        }

        /* Sidebar navigation */
        .nav-sidebar {
        margin-right: -21px; /* 20px padding + 1px border */
        margin-bottom: 20px;
        margin-left: -20px;
        }
        .nav-sidebar > li > a {
        padding-right: 20px;
        padding-left: 20px;
        }
        .nav-sidebar > .active > a,
        .nav-sidebar > .active > a:hover,
        .nav-sidebar > .active > a:focus {
        color: #fff;
        background-color: #428bca;
        }


        /*
        * Main content
        */

        .main {
        padding: 20px;
        }
        @media (min-width: 768px) {
        .main {
        padding-right: 40px;
        padding-left: 40px;
        }
        }
        .main .page-header {
        margin-top: 0;
        }


        /*
        * Placeholder dashboard ideas
        */

        .placeholders {
        margin-bottom: 30px;
        text-align: center;
        }
        .placeholders h4 {
        margin-bottom: 0;
        }
        .placeholder {
        margin-bottom: 20px;
        }
        .placeholder img {
        display: inline-block;
        border-radius: 50%;
        }


    </style>

    <link rel="stylesheet" href="/statics/css/bootstrap.min.css">
    <script src="/statics/js/jquery-2.1.1.min.js"></script>
    <script src="/statics/js/bootstrap.min.js"></script>
    <script src="http://rawgit.com/briangonzalez/rgbaster.js/master/rgbaster.js"></script>


</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <nav class="navbar navbar-default" role="navigation">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1"><span
                            class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
                            class="icon-bar"></span><span class="icon-bar"></span></button>
                    <a class="navbar-brand" href="/">OpenCV4Orz</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active">
                            <a href="/">Home</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">One more separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control"/>
                        </div>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a href="#">Link</a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown<strong
                                    class="caret"></strong></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a href="#">Action</a>
                                </li>
                                <li>
                                    <a href="#">Another action</a>
                                </li>
                                <li>
                                    <a href="#">Something else here</a>
                                </li>
                                <li class="divider">
                                </li>
                                <li>
                                    <a href="#">Separated link</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="jumbotron clearfix">
                <h1>
                    欢迎使用！
                </h1>
				<div class="container-fluid">
						<div class="col-md-4 column">
						<p>
							This is a template for a simple marketing or informational website. It includes a large callout
							called the hero unit and three supporting pieces of content. Use it as a starting point to create
							something more unique.
						</p>

						<p><button type="button" class="btn btn-primary" value="preview" onclick="upload_img()"/>预览</button></p>
						</div>
						
						<img src="" id="img_id" style="display:none" width="600" height="370">
				</div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <form action="." method="post" enctype="multipart/form-data">
            {% csrf_token %}
			<p><input id="id_image_file" name="image_file" type="file"
                       class="btn btn-primary btn-large">
            </p>            
            <h4>请选择图片格式:jpg、bmp</h4>
            <div class="row">
                <div class="col-md-3 column">
                    <h2>
                        基本操作
                    </h2>
                    <p>
                        <div class="row">
                    <p>
                        {{ form.histogram }} &nbsp直方图分析
                    </p>
                </div>
                <div class="row">
                    <p>
                        {{ form.hist_equalize }} &nbsp直方图均衡
                    </p>
                </div>
                <div class="row">
                    <p>
                        {{ form.greyscale }} &nbsp转换为灰度图像
                    </p>
                </div>
                <div class="row">
                    <p>
                        {{ form.binary_threshold }} &nbsp转换为二值图像
                    </p>
                </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Threshold</span>
                  <input  class="form-control" placeholder="Threshold" aria-describedby="sizing-addon3" id="id_binary_threshold_threshold" name="binary_threshold_threshold" type="number" value="128">
                </div>
                <div class="row">
                    <p>
                        {{ form.shift }} &nbsp平移图像
                    </p>
                </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">坐标值（x, y）</span>
                  <input  class="form-control" placeholder="坐标值（x, y）" aria-describedby="sizing-addon3" id="id_shift_coords" name="shift_coords" type="text" value="(0, 0)">
                </div>
                <div class="row">
                    <p>
                        {{ form.rotation }} &nbsp旋转图像
                    </p>
                </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">角度（degree）</span>
                  <input  class="form-control" placeholder="旋转角度（degree）" aria-describedby="sizing-addon3" id="id_rotation_degree" name="rotation_degree" type="number" value="45">
                </div>
                <div class="row">
                    <p>
                        {{ form.scale_area }} &nbsp缩放图像（最近邻插值）
                    </p>
                </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">比例（ratio）</span>
                  <input  class="form-control" placeholder="缩放比例（ratio）" aria-describedby="sizing-addon3" id="id_scale_area_ratio" name="scale_area_ratio" type="number" value="45">
                </div>
                <div class="row">
                    <p>
                        {{ form.scale_linear }} &nbsp缩放图像（双线性插值）
                    </p>
                </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">比例（ratio）</span>
                  <input  class="form-control" placeholder="缩放比例（ratio）" aria-describedby="sizing-addon3" id="id_scale_linear_ratio" name="scale_linear_ratio" type="number" value="45">
                </div>
                </p>
            </div>
            <div class="col-md-3 column">
                <h2>
                    形态学处理
                </h2>
                <p>
                    <div class="row">
                <p>
                    {{ form.dilate_binary }} &nbsp二值膨胀
                </p>
            </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Kernel</span>
                  <input  class="form-control" placeholder="Kernel（x, y）" aria-describedby="sizing-addon3" id="id_dilate_binary_ksize" name="dilate_binary_ksize" type="text" value="(9, 9)">
                </div>
            <div class="row">
                <p>
                    {{ form.erode_binary }} &nbsp二值腐蚀
                </p>
            </div>

                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Kernel</span>
                  <input  class="form-control" placeholder="Kernel（x, y）" aria-describedby="sizing-addon3" id="id_erode_binary_ksize" name="erode_binary_ksize" type="text" value="(9, 9)">
                </div>
            <div class="row">
                <p>
                    {{ form.open_binary }} &nbsp二值开运算
                </p>
            </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Kernel</span>
                  <input  class="form-control" placeholder="Kernel（x, y）" aria-describedby="sizing-addon3" id="id_opend_binary_ksize" name="opend_binary_ksize" type="text" value="(9, 9)">
                </div>
            <div class="row">
                <p>
                    {{ form.close_binary }} &nbsp二值闭运算
                </p>
            </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Kernel</span>
                  <input  class="form-control" placeholder="Kernel（x, y）" aria-describedby="sizing-addon3" id="id_closed_binary_ksize" name="closed_binary_ksize" type="text" value="(9, 9)">
                </div>
            <div class="row">
                <p>
                    {{ form.dilate }} &nbsp灰度膨胀
                </p>
            </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Kernel</span>
                  <input  class="form-control" placeholder="Kernel（x, y）" aria-describedby="sizing-addon3" id="id_dilate_ksize" name="dilate_ksize" type="text" value="(9, 9)">
                </div>

            <div class="row">
                <p>
                    {{ form.erode }} &nbsp灰度腐蚀
                </p>
            </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Kernel</span>
                  <input  class="form-control" placeholder="Kernel（x, y）" aria-describedby="sizing-addon3" id="id_erode_ksize" name="erode_ksize" type="text" value="(9, 9)">
                </div>
            <div class="row">
                <p>
                    {{ form.open }} &nbsp灰度开运算
                </p>
            </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Kernel</span>
                  <input  class="form-control" placeholder="Kernel（x, y）" aria-describedby="sizing-addon3" id="id_opend_ksize" name="opend_ksize" type="text" value="(9, 9)">
                </div>
            <div class="row">
                <p>
                    {{ form.close }} &nbsp灰度闭运算
                </p>
            </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Kernel</span>
                  <input  class="form-control" placeholder="Kernel（x, y）" aria-describedby="sizing-addon3" id="id_closed_ksize" name="closed_ksize" type="text" value="(9, 9)">
                </div>
        </p>
    </div>
    <div class="col-md-3 column">
        <h2>
            卷积操作
        </h2>
        <p>
            <div class="row">
        <p>
            {{ form.roberts }} &nbspRoberts 算子
        </p>
    </div>
    <div class="row">
        <p>
            {{ form.prewitt }} &nbspPrewitt 算子
        </p>
    </div>
    <div class="row">
        <p>
            {{ form.sobel }} &nbspSobel 算子
        </p>
    </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Kernel</span>
                  <input  class="form-control" placeholder="Kernel" aria-describedby="sizing-addon3" id="id_sobel_ksize" name="sobel_ksize" type="number" value="5">
                </div>
    <div class="row">
        <p>
            {{ form.canny }} &nbspCanny 算子
        </p>
    </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Threshold</span>
                  <input  class="form-control" placeholder="Threshold" aria-describedby="sizing-addon3" id="id_canny_threshold" name="canny_threshold" type="text" value="(100, 200)">
                </div>
    <div class="row">
        <p>
            {{ form.gaussian_blur }} &nbsp高斯滤波
        </p>
    </div>

                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Kernel</span>
                  <input  class="form-control" placeholder="Kernel" aria-describedby="sizing-addon3" id="id_gaussian_ksize" name="gaussian_ksize" type="text" value="(31, 31)">
                    <span class="input-group-addon" id="sizing-addon3">Sigma</span>
                  <input  class="form-control" placeholder="方差（Sigma）" aria-describedby="sizing-addon3" id="id_gaussian_sigmaX" name="gaussian_sigmaX" type="number" value="2.5">
 
                </div>
    <div class="row">
        <p>
            {{ form.average_blur }} &nbsp均值滤波
        </p>
    </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Kernel</span>
                  <input  class="form-control" placeholder="Kernel" aria-describedby="sizing-addon3" id="id_average_blur_ksize" name="average_blur_ksize" type="text" value="(9, 9)">
                </div>
    <div class="row">
        <p>
            {{ form.median_blur }} &nbsp中值滤波
        </p>
    </div>
                <div class="input-group input-group-sm">
                  <span class="input-group-addon" id="sizing-addon3">Kernel</span>
                  <input  class="form-control" placeholder="Kernel" aria-describedby="sizing-addon3" id="id_median_blur_ksize" name="median_blur_ksize" type="number" value="5">
                </div>
    </p>
</div>
<div class="col-md-3 column">
    <h2>
        阈值处理
    </h2>
    <p>
        <div class="row">
    <p>
        {{ form.otsu }} &nbspOtsu阈值
    </p>
</div>
</p>

</div>
</div>
<!--<input type="submit" value="Process"/>-->
<button type="submit" class="btn btn-primary" value="Process">上传处理</button>

</form>

</div>
</div>

<script type="text/javascript">

$(document).ready(function() {
    //set initial state.
    $('#textbox1').val($(this).is(':checked'));

    $('#checkbox1').change(function() {
        if($(this).is(":checked")) {
            var returnVal = confirm("Are you sure?");
            $(this).attr("checked", returnVal);
        }
        $('#textbox1').val($(this).is(':checked'));
    });
        var img = document.getElementById('img_id');
    // 或者
    RGBaster.colors(img, {
      success: function(payload) {
        // payload.dominant是主色，RGB形式表示
        // payload.secondary是次色，RGB形式表示
        // payload.palette是调色板，含多个主要颜色，数组
        console.log(payload.dominant);
        console.log(payload.secondary);
        console.log(payload.palette);
      }
    });
});


        function upload_img() {
          document.getElementById("img_id").style.display = "block"

          input = document.getElementById("id_image_file")


          console.log(input)
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img_id').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }











</script>

</body>
</html>
